.pw__navbar {
    display: flex;
    height: 7rem;
    padding: 1.5rem 20rem;
    justify-content: space-between;
    align-items: center;
}

.pw__logo-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    padding: .5rem;
    border-radius: 1.25rem;
    background: var(--color-primary-bg);
    backdrop-filter: blur(2px);
}

.pw__logo-links p{
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
}

.pw__logo-links img{
    height: 3rem;
}

.pw__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 25rem;
    padding-right: .5rem;
    gap: 1.5rem;
}