* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    color: #FFF;
    background: var(--color-bg);
}

a {
    text-decoration: none;
    color: unset
}

a:hover {
    color: var(--color-hover);
}

.section__padding {
    padding: 4rem 6rem;
}